---
import Layout from '../layouts/BlogPost.astro';
import { WaterPool } from './WaterPool/WaterPool'
---

<Layout
	title="关于我 About Me"
	description="introduction to zenghawtin"
	pubDate={new Date('2025-1-18')}
>
	<p>
		北京，前端工程师 
	</p>
	<p>Front end software engineer@Beijing</p>
	
	<!-- <WaterPool client:only="react" /> -->
</Layout>
